<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inhatc.mapper.Labmaster201944030Mapper">
	<insert id="insertRecord">
		insert into tbl_201944030_lab_master 
		value(#{labid}, #{labname}, #{person}, #{location}, #{cls}, #{dept})
	</insert>
	
	<select id="selectRecord" resultType="com.inhatc.domain.LabmasterVO">
		select * from tbl_201944030_lab_master
		where labid = #{labid}
	</select>

	<update id="updateRecord">
		update tbl_201944030_lab_master set labname = #{labname}, person = #{person}, location = #{location}, cls = #{cls}, dept = #{dept}
		where labid = #{labid}
	</update>
	
	<delete id="deleteRecord">
		delete from tbl_201944030_lab_master
		where labid = #{labid}
	</delete>
	
	<select id="listAll" resultType="com.inhatc.domain.LabmasterVO">
	<!-- 파라미터 안넘어오면 아래처럼 묶는게 성능 향상에 도움이 된다. -->
	<![CDATA[
		select *
		from tbl_201944030_lab_master
		order by labid asc
		]]>
	</select>
</mapper>